<!-- <mat-progress-spinner value="60"></mat-progress-spinner>
<mat-spinner *ngIf="showSpinner"></mat-spinner>
<button (click)="loadData()" color="accent">Load Data</button>
<span [matBadge]="notifications">Notifications</span> -->

<mat-toolbar color="primary" class="navbar">
  <div>Logo</div>
  <div>
    <span>Home</span>
    <span>About</span>
    <span>Contact</span>
  </div>
</mat-toolbar>
<mat-sidenav-container>
  <span>Dashboard</span>
  <span>Dashboard</span>
  <span>Dashboard</span>
</mat-sidenav-container>

<!-- <button mat-raised-button>Hello</button>

<div class="mat-display-4">This is Display 4</div>
<div class="mat-display-3">This is Display 3</div>
<div class="mat-display-2">This is Display 2</div>
<div class="mat-display-1">This is Display 1</div>

<div class="mat-headline">This is a heading</div>
<div class="mat-title">Mat Title</div>
<div class="mat-subheadeing-2">MAT Sub Heading 2</div>
<div class="mat-subheadeing-1">MAT Sub Heading 1</div>

<div class="mat-body-1">this is the body text</div>
<div class="mat-body-2">this is the body text</div>
<div class="mat-caption">this is the body text</div>

<div class="mat-typography">
  <h1>This is teh sample text</h1>
  <h2>This is teh sample text</h2>
  <h3>This is teh sample text</h3>
  <h4>This is teh sample text</h4>
</div> -->
